.data-table {
  width: 80%;
  margin: 0 auto;
  margin-top: -65px;
  margin-bottom: 80px;
}

.data-table article:nth-child(1) {
  margin-top: 15px;
  margin-bottom: 30px;
  color: #665484;
}

.data-table article h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.data-table article p {
  margin-top: 15px;
  font-size: 15px;

}
