<section class="data-table">
  <article>
    <h1>Таблица с налични {{tableType}}</h1>
    <p>
      Тук може да видите таблицата с работници,чакащи новия си
      работодател!
    </p>
  </article>
  <article class="container table">
    <div class="row header">
      <div *ngFor="let field of tableFields" class="col-lg-2">{{field}}</div>

    </div>

    <div class="row data" *ngFor="let row  of data;let rowIndex=index">

      <div *ngFor="let i of objectKeys;let counter=index" class="col-lg-2"> {{row[i]}}
        <a (click)="deleteRow(row['id'])" *ngIf="counter==objectKeys.length-1" ><i  class="fas fa-times"></i></a>
        <a (click)="updateRow(rowIndex)" *ngIf="counter==objectKeys.length-1" ><i class="far fa-edit"></i></a>

      </div>

    </div>


    <div class="row data">
      <div class="col-lg-12" style="margin-top: 45px;">

        <a routerLink="workers" class="begining more-info">За още работници натисни тук</a>

      </div>
    </div>
  </article>
</section>

