<section class="data-table">
  <article>
    <h1>Таблица с налични работници</h1>
    <p>
      Тук може да видите таблицата с работници,чакащи новия си
      работодател!
    </p>
  </article>
  <article class="container table">
    <div class="row header">
      <div class="col-lg-2">Имена</div>
      <div class="col-lg-2">Професия</div>
      <div class="col-lg-2">Години</div>
      <div class="col-lg-2">Телефонен номер</div>
      <div class="col-lg-2">Град</div>
      <div class="col-lg-2">Страна</div>
    </div>

    <div class="row data">
      <div class="col-lg-2">Валери Стоянов</div>
      <div class="col-lg-2">Програмист</div>
      <div class="col-lg-2">20</div>
      <div class="col-lg-2">0877160369</div>
      <div class="col-lg-2">Пловдив</div>
      <div class="col-lg-2">България</div>
    </div>

    <div class="row data">
      <div class="col-lg-2">Валери Стоянов</div>
      <div class="col-lg-2">Програмист</div>
      <div class="col-lg-2">20</div>
      <div class="col-lg-2">0877160369</div>
      <div class="col-lg-2">Пловдив</div>
      <div class="col-lg-2">България</div>
    </div>

    <div class="row data">
      <div class="col-lg-12" style="margin-top: 45px;">

        <a href="test" class="begining more-info">За още работници натисни тук</a>

      </div>
    </div>
  </article>
</section>

