<section class="goal">
  <img src="./assets/img/workers-svgrepo-com.svg"/>
  <h2>Защо да изберете нас?</h2>
</section>

<section class="goal-info">
  <article class="info">
    <div class="head">
      <h1>Бързо и лесно намиране на подходящи служители</h1>
    </div>
    <div class="description">
      <p>
        Благодарение на лесния и интуитивен дизайн търсенето и намирането
        на подходящи служители никога не е било по-лесно!
      </p>
    </div>
  </article>

  <article class="info">
    <div class="head">
      <h1>Напълно безплатно</h1>
    </div>
    <div class="description">
      <p>Може да използвате услугата напълно безплатно!</p>
    </div>
    <div class="add-worker">
      <a> Добави работник</a>
    </div>
  </article>
</section>

<app-data-table *ngIf="data.length!=0" [tableFields]="tableFields" [data]="data"></app-data-table>


<section class="start-now">
  <article class="start-text">
    <h3>Какво чакаш? Започни още сега!</h3>
    <p>Започни бързо и лесно</p>
  </article>

  <article class="links">
    <a class="add-worker" routerLink="add-worker">ДОБАВИ РАБОТНИК</a>
    <span></span>
    <a class="begining" href="#start">НАЧАЛО</a>
  </article>
</section>

